importMethodsFrom(GenomicRanges, resize)
importMethodsFrom(GenomicRanges, trim)

importFrom(Rcpp, evalCpp)
importFrom(Biostrings, readDNAStringSet)
importFrom(Biostrings, mkAllStrings)
importFrom(Biostrings, writeXStringSet)
importFrom(Biostrings, getSeq)

importFrom(fields, image.plot)

export(
    encodeSeqShape,
    getFasta,
    getShape,
    heatShape,
    plotShape,
    trackShape
)
